.Audin{
    background-color: #1b1b1b;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7f7f7f;
}

.dragArea{
    padding:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text{
    font-size: 20px;
    font-weight: 500;
}

.dottedBorder{
    border: 2px dashed #7f7f7f;
    border-radius: 20px;
    height: 85%;
    width: 85%;
    position: absolute;
    top: 7.5%;
    left: 7.5%;
}