.QuizItem{
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
    margin-bottom: 25%;
}

.question{
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.choices{
    width: 45%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.choiceButton {
  align-items: center;
  background-color: #323232;
  border: 3px dotted #cbcbcb;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #cbcbcb;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.choiceButton:hover,
.choiceButton:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.choiceButton:hover {
  transform: translateY(-1px);
}
